<!DOCTYPE html>
<html>
  <head> </head>
  <body>
    <!-- <% if(false){%>
    <div>ejs working</div>
    <%} else {%>
    <div>ejs not working</div>
    <%}%> -->
    <%include ./layout/navbar.ejs%> <%=data%>
  </body>
</html>
